.gradient-custom{
    background: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);
  }
  #email-must, #email-wrong{
    display: none;
  }
  #password-must, #password-wrong{
    display: none;
  }
  #Login {
    align-items: center;
    background-image: linear-gradient(to right, #1CD8D2 0%, #93EDC7  51%, #1CD8D2  100%);
    /* margin: 10px;
    padding: 15px 45px; */
    width:80%;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto; 
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
  }
  /* #Emailform:focus-within,#Password:focus-within{
    border:2px solid #1CD8D2 ;
  } */
  #check span{
    font-size: 15px;
  }
  #input{
    position:relative;
  }
  #eye{
    color:#1CD8D2;
    font-size:large;
    position: absolute;
    right: 0.8rem;
    top: 0.1rem;
    cursor: pointer;
  }
  #flexCheck{
    border-color: #1CD8D2;
    box-shadow: none;
  }
  #flexCheck:checked{
    box-shadow: none;
    border-color: #1CD8D2;
    background-color: #1CD8D2;
  }
  
  #Login:hover {
    background-position: right center; 
    color: #fff;
    text-decoration: none;
  }
  
  #Forgot a{
    color:#413e3e;
    text-decoration: none;
  }
  #Forgot a:hover{
    color: #00C9FF;
  }
  #Register{
    text-decoration: none;
  }
  #Register:hover{
    color:#00C9FF;
  }
  #divider:after,
  #divider:before {
    content: "";
    flex: 1;
    height: 1px;
    color:#808080;
  }
  #icons i{
    font-size: 32px;
    color: #00C9FF;
  }
  #icons i:hover{
    transform: scale(1.2);
    transition: 0.3s ease-in;
    color:#0d6efd;
    box-shadow: 5px rgb(202, 200, 200);
  }